{% extends 'base.html' %}

{% block content %}

<main class="container">

<div class="starter-template text-center py-5 px-3">


    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <br><br>

    <form method="post" action="{% url 'login' %}">
            
        {% csrf_token %}

            
        <table class="form-inline justify-content-center" style="margin-left: auto; margin-right: auto">
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <br><br>

        <input type="submit" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}

    <br>

    <!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->

</div>

</main>
{% endblock %}