
/*
table, th, td {
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
}*/
/*
thead {
    background-color: rgb(56, 114, 138);
    padding: 5px;
}*/
/*scrolling
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
    .table-wrapper-scroll-y {
    display: block;
}*/

/*zebra striping*/
tbody tr:nth-child(odd) {
    background-color: rgb(242, 247, 255);
}

table a:hover {
  color: blue;
  text-decoration: underline;
}