{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="container-fluid maxWidth">

    <div class="row justify-content-center mb-4">
        <div class="col-12">
            <h1>About CEDAR</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 fs-5">
            <h2>What is CEDAR?</h2>
            <p class="fs-5">CEDAR is the <i>Collection of Epidemiologically Derived Associations with Resistance</i> database. CEDAR catalogues factors (e.g., exposures, interventions, practices) whose affect(s) on the occurrence of antimicrobial resistance (AMR) have been quantified in the scientific literature.</p>
            <p class="fs-5">You are currently accessing the CEDAR web app (<a href="https://cedar.amr.pub/">https://cedar.amr.pub/</a>), used to publicly browse and query the CEDAR database. Get started browsing CEDAR using the menu above.</p>
            <p class="fs-5">To learn more about CEDAR, see the <a href="https://docs.cedar.amr.pub">documentation</a>.</p>
            <p class="fs-5">If you encounter an error with the CEDAR web app (<a href="https://cedar.amr.pub/">https://cedar.amr.pub/</a>), notice an error in the data, or have a suggestion for improvements, please <a href="https://github.com/iAM-AMR/CEDAR/issues">submit an issue</a> at Github.</p>
        </div>
    </div>

    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-12">
            <p class="fs-5"><strong>NOTE:</strong> At this time, the query page loads the entire dataset before the results can be filtered – it is a time-intensive and data-heavy process that works but will be improved upon in future releases. </p>
        </div>
    </div>

    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-12">
            <h2>What data are in CEDAR?</h2>
            <p class="fs-5">At present, the projects submitted to CEDAR have focused on factors in the agri-food production system related to popular food animal commodities and enteric disease causing bacteria.</p>
            <p class="fs-5">The food animals and microorganisms presentely covered by CEDAR include:</p>
        </div>
    </div>

    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-6">
            <ul>
                <li><p class="fs-5">Cattle</p></li>
                <li><p class="fs-5">Chickens</p></li>
                <li><p class="fs-5">Swine</p></li>
                <li><p class="fs-5">Turkeys</p></li>
            </ul>
        </div>
        <div class="col-6">
            <ul>
                <li><p class="fs-5"><i>E. coli</i></p></li>
                <li><p class="fs-5">Enterococci</p></li>
                <li><p class="fs-5"><i>Campylobacter</i></p></li>
                <li><p class="fs-5"><i>Salmonella</i></p></li>
            </ul>
        </div>
    </div>

    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-12">
            <p class="fs-5">Future releases of CEDAR will support factors related to humans and the  environment.</p>
        </div>
    </div>

    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-12">
            <h2>What else should I know?</h2>
            <p class="fs-5">CEDAR is part of the <a href="https://docs.iam.amr.pub">iAM.AMR project</a> and the larger <a href="https://grdi-amr.com/">GRDI-AMR1|2 projects</a>. CEDAR is maintained by <a href="https://chapmanb.com">Brennan Chapman</a>.</p>
            <p class="fs-5">See the <a href="https://docs.cedar.amr.pub">documentation</a> for more details.</p>
        </div>
    </div>

</div>

{% endblock %}


