{% extends 'base.html' %}

{% load static %}


{% block content %}

<div class="container-fluid maxWidth">


    <div class="row justify-content-center">
        <div class="col-12">
  
        <h1>CEDAR</h1>
        <hr style="border-width:5px;">
        <br>

      </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-12">

            <h2>Getting Started</h2>
            <hr style="border-width:2px">
            <p>To learn more about CEDAR, see the <a href="https://docs.cedar.amr.pub">documentation</a>.</p>
            <br>

        </div>
    </div>



    <div class="row justify-content-center">
        <div class="col-12">

            <h2>Encounter an Error?</h2>
            <hr style="border-width:2px">
            <p>If you encounter an error with the CEDAR web app (<a href="https://cedar.amr.pub/">https://cedar.amr.pub/</a>), notice an error in the data, or have a suggestion for improvements, please <a href="https://github.com/iAM-AMR/CEDAR/issues">submit an issue</a> at Github.</p>

        </div>
    </div>



</div>

{% endblock %}


