

{% extends 'base.html' %}

{% load static %}




{% block    body_contents %}
<div class="container-fluid maxWidth">

  <!-- table of references -->
  <div class="row justify-content-center"> <!-- container-lg -->
    <div class="col-12">

      <h1>Browse References</h1>
      <hr style="border-width:5px;">
      <br>

      <table id="myTable" class="table table-bordered table-sm stripe" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>ID</th>
            <th>Bibtex Key</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          {% for reference in refs_list %}
            <tr>
              <td > <span>{{ reference.id }}</span> </td>
              <td>{{ reference.key_bibtex }} {% if reference.is_excluded_extract %}<i class="fa-solid fa-ban fa-sm"></i>{% endif %}</td>
              <td>
                <!-- <a href="/cedar_core/references/{{ reference.id }}/">{{ reference.study_title }}</a> -->
                <a href="{% url 'detail_reference' pk=reference.id %}">{{ reference.ref_title }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock body_contents %}


{% block body_scripts %}
  <!-- Table scrolling -->
  <script type="text/javascript">
    $(document).ready(function () {
      $('#myTable').DataTable({
        "scrollY": "100%",
        "scrollCollapse": true,
        order: [[1, 'asc']],
      });
      $('.dataTables_length').addClass('bs-select');
    });
  </script>
{% endblock body_scripts %}