

{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="{% static 'cedar_core/browse_style.css' %}">

    <script type="text/javascript" src=" {% static 'cedar_core/browse.js' %} "></script>

{% endblock head %}



{% block body_contents %}

<div class="container-fluid maxWidth">

    <div class="row justify-content-center"> 
      
      <div class="col-12">

          <h1>Browse References</h1>
          <hr style="border-width:5px;">
      
          <form method="GET">
            <div class="row">
              <div class="form-group col-md-6">
                {{ refs_filter.form.is_excluded|as_crispy_field }}
              </div>
              <div class="form-group col-md-6 my-auto">
                <div class="d-flex justify-content-start">
                  <button class="btn btn-primary" type="submit">Filter</button>
                </div>
              </div>
            </div>
          </form>
          
          <hr style="border-width:1px">

          <table id="referenceTable" class="table table-borderless table-hover table-sm browse-table" cellspacing="0" width="100%">
              
              <thead class="table-dark">
                  <tr>
                      <th style='text-align:center'>ID</th>
                      <th></th>
                      <th>Bibtex Key</th>
                      <th>Title</th>
                  </tr>
              </thead>

              <tbody>
                  {% for reference in refs_filter.qs %}
                      <tr>
                          <td> <span>{{ reference.id }}</span> </td>
                          <td style='text-align:center'> {% if reference.is_excluded_extract %}<i data-bs-toggle="tooltip" data-placement="top" data-bs-title="Excluded" class="fa-solid fa-ban fa-sm"></i>{% endif %} </td>
                          <td>{{ reference.key_bibtex }} </td>
                          <td>
                            <a href="{% url 'detail_reference' pk=reference.id %}">{{ reference.ref_title }}</a>
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>

          </table>

      </div>

    </div>

</div>
{% endblock body_contents %}


