

{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load widget_tweaks %}

{% block head_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'cedar_core/detail_style.css' %}">
{% endblock head_css %}


{% block content %}
<div class="container-fluid maxWidth">
        
  <!-- The header. -->
  <div class="d-flex flex-row flex-wrap justify-content-between align-items-center mb-0">
      
      <div class="col-auto text-nowrap" >
        <h1 >{{reference.id}} | <small class="text-muted">{{reference.key_bibtex}} {% if reference.is_excluded_extract %}(Excluded){% endif %}</small></h1>
      </div>
      
      <div class="col-auto text-nowrap">
            <a class="btn btn-secondary" role="button" href="https://dx.doi.org/{{reference.publish_doi}}" target="_blank">{{ reference.publish_doi }}</a>   
      </div>

  </div>

 
  {% include "cedar_core/breadcrumb.html" with whereami='detail_reference' %}


  <!-- Title -->
  <div class="row mt-4 mb-2 justify-content-center">
    <div class="col-9">
      <h2 style="text-align: center;">{{reference.ref_title}}.</h2>
    </div>
  </div>

  <!-- Horizontal Rule -->
  <div class="row my-0 justify-content-center">
    <div class="col-6">
      <hr class="my-0" style="border-width:3px;">
    </div>
  </div>

  <!-- Author (Country) -->
  <div class="row mt-1 mb-0 justify-content-center">
      <div class="col-5">
          <p class="my-0" style="text-align: center;"><i>{{ reference.ref_author }}</i> ({{ reference.ref_country|default:"No&nbspLocation" }}) </p>
      </div>
  </div>

  <!-- Publisher and Year of Publication -->
  <div class="row mt-1 mb-0 justify-content-center">
    <div class="col-5">
        <p class="my-0" style="text-align: center;">{{ reference.publisher }} ({{ reference.publish_year }})</p>
    </div>
  </div>



  <div class="row mt-3 justify-content-center">

    <div class="col">

      <h3>Reference</h3>
      <hr class="mt-0 mb-3" style="border-width:5px;">

      <!-- Begin Tab Definitions -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Main</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review-tab-pane" type="button" role="tab" aria-controls="review-tab-pane" aria-selected="false">Review</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="locale-tab" data-bs-toggle="tab" data-bs-target="#locale-tab-pane" type="button" role="tab" aria-controls="locale-tab-pane" aria-selected="false">Locale</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="notes-tab" data-bs-toggle="tab" data-bs-target="#notes-tab-pane" type="button" role="tab" aria-controls="notes-tab-pane" aria-selected="false">Notes</button>
        </li>
      </ul>
      <!-- End Tab Definitions -->

      <!-- Begin Tab Contents -->
      <div class="tab-content pt-3" id="myTabContent">

        <!-- Begin Tab 1 Content (Main) -->
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
          
          <!-- Begin Accordion -->
          <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
            
            <!-- Accordion 1 (Study Design Details) -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                  Study Design Details (<small class="text-muted">{{reference.study_design}}</small>)
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  <p>{{ reference.study_design_detail }}</p>
                </div>
              </div>
            </div>

            <!-- Accordion 2 (Sampling Methodology) -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  Sampling Methodology
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  <p>{{ reference.study_sample_method }}</p>
                </div>
              </div>
            </div>

            <!-- Accordion 3 (AST and Reporting Characteristics) -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  AST and Reporting Characteristics
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  <p>AST Method: {{ reference.ref_ast_method }}</p>
                  <p>Reference explicitly reports AST breakpoints: {{ reference.ref_has_ast_explicit_break }}</p>
                  <p>Reference reports using a MIC table: {{ reference.ref_has_ast_mic_table }}</p>
                </div>
              </div>
            </div>

          <!-- End Accordion -->
          </div>
                    
        <!-- End Tab 1 Content (Main) -->
        </div>

        <!-- Begin Tab 2 Content (Review) -->
        <div class="tab-pane fade" id="review-tab-pane" role="tabpanel" aria-labelledby="review-tab" tabindex="0">
          <p>Is Excluded: {{ reference.is_excluded_extract }}</p>

        <!-- End Tab 2 Content (Review) -->  
        </div>
        
        <!-- Begin Tab 3 Content (Locale) -->
        <div class="tab-pane fade px-4" id="locale-tab-pane" role="tabpanel" aria-labelledby="locale-tab" tabindex="0">
          
          <table id="location_table" class="table table-bordered stripe" cellspacing="0" width="100%">
            
            <thead>
              <tr>
                <th>Country</th>
                <th>Sub-Region</th>
                <th>Sub-Region Detail</th>
              </tr>
            </thead>

            <tbody>
              {% for loc in reference_locations %}
                <tr>
                  <td>{{ loc.location_main_id }}</td>
                  <td>{{ loc.location_sub_id }}</td>
                  <td>{{ loc.location_detail }}</td>
                </tr>
              {% endfor %}
            </tbody>

          </table>
        
        <!-- End Tab 3 Content (Locale) -->  
        </div>

        <!-- Start Tab 4 Content (Notes) -->
        <div class="tab-pane fade" id="notes-tab-pane" role="tabpanel" aria-labelledby="notes-tab" tabindex="0">
        
          <table id="notes_table" class="table table-bordered stripe" cellspacing="0" width="100%">
            
            <thead>
              <tr>
                <th>ID</th>
                <th>Note</th>
                <th>Resolution</th>
              </tr>
            </thead>

            <tbody>
              {% for note in reference_notes %}
                <tr>
                  <td>{{ note.id }}</td>
                  <td>{{ note.reference_note }}</td>
                  <td>{{ note.is_resolved }}</td>
                </tr>
              {% endfor %}
            </tbody>

          </table>

        </div>
      
      <!-- End Tab Contents -->
      </div>

    </div>

  </div>



  <!-- The factors -->
  <div class="row justify-content-center align-items-center mt-4">

      <div class="col">
          <h3>Factors</h3>
          <hr class="mt-0 mb-4" style="border-width:5px;">
      </div>

  </div>



  <table id="myTable" class="table table-bordered stripe" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Host</th>
          <th>Host</th>
          <th>Production Stage</th>
          <th class="col-3">Title</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for factor in reference_factors %}
          <tr>
            <td>{{ factor.id }}</td>
            <td>{{ factor.host_level_01 }}</td>
            <td>{{ factor.host_level_02 }}</td>
            <td>{{ factor.group_allocate_production_stage }}</td>
            <td><a href="{% url 'detail_factor' reference_id=reference.id factor_id=factor.id %}">{{ factor.factor_title }}</a></td>
            <td>{{ factor.factor_description }}</td>

          </tr>
        {% endfor %}
      </tbody>
  </table>







</div>
{% endblock content %}


{% block body_scripts %}

<script type="text/javascript">
    $(document).ready(function () {
      $('#myTable').DataTable({
        "scrollY": "100%",
        "scrollCollapse": true,
        order: [[1, 'asc']],
      });
      $('.dataTables_length').addClass('bs-select');
    });
  </script>

  
{% endblock body_scripts %}