

{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load widget_tweaks %}

{% block head_css %}
  <!-- CSS (optional) -->
{% endblock head_css %}


{% block content %}

    <div class="container-fluid maxWidth">
        
        <!-- The header. -->
        <div class="row justify-content-center align-items-center border-bottom">
            



            <div class="col-10">


                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'detail_reference' ref_id=factor.reference_id %}">Reference</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'edit_reference_factor_list' ref_id=factor.reference_id %}">Factors</a></li>
                      <li class="breadcrumb-item active" aria-current="page">{{ factor.factor_title }}</li>
                    </ol>
                </nav>


                <h1>{{ factor.factor_title }}</h1>
                <p>{{ factor.host_level_01 }} {{ factor.host_level_02 }} </p>
                <p> </p>
            </div>

            <div class="col-2">
                <a class="btn btn-primary btn-block" href="{% url 'detail_reference' ref_id=factor.reference_id %}">Reference</a>
                <a class="btn btn-secondary btn-block" href="{% url 'edit_reference_factor_list' ref_id=factor.reference_id %}">Factor List</a>
            </div>
            
         

        </div>

        <!-- The factor contents. -->
        <div class="row justify-content-center align-items-center">

            <div class="col">
                <p> {{ factor.factor_description }} </p>
            </div>

            <div class="col">
                <p> {{ factor.group_comparator }} </p>
            </div>

            <div class="col">
                <p> {{ factor.group_factor }} </p>
            </div>

        </div>




    </div>





{% endblock content %}