

{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'cedar_core/detail_style.css' %}">
  <script src="{% static 'cedar_core/enable_tooltips.js' %}"></script>
{% endblock head %}

{% block content %}

<div class="container-fluid maxWidth">

  {% include "cedar_core/detail_reference_header.html" with page_type='Factor'%}
  {% include "cedar_core/breadcrumb.html" with whereami='detail_factor' %}


  <div class="row mt-4 mb-4 justify-content-center">
    <div class="col-9 text-center">

      <div class="row">
        <h2> {{ factor.factor_title | default:"Factor Title" }} </h2>
      </div>
      
      <div class="row">
        <p> {{ factor.host_level_01 }} | {{ factor.host_level_02 }} </p>
      </div>

      {% if user.is_authenticated %}
        <a title="Edit Factor" class="btn btn-primary" role="button" href="{% url 'edit_factor' reference_id=reference.id  pk=factor.id %}"> Edit Factor &nbsp; <i class="fa-solid fa-pencil-alt"></i> </a>
      {% endif %}

      <p style="font-weight: bold;"> {{ resistance_outcomes|length }}</p>
        
    </div>
  </div>


  
  <!-- Description Block ----------------------------------------------------->
  <div class="row mb-4 justify-content-center">
      <div class="col">
        <h4>Description</h4>
        <p>{{ factor.factor_description }}</p>
      </div>
  </div>



  {% comment %}

  The resistance outcome table is a nested table; there are three columns in
  the outer table (resistance, microbe, outcome). The production stage icons 
  in the resistance column, and the contents of the outcome column are 
  dynamically loaded from other documents. This allows the outcome to change
  based on grain.

  {% endcomment %}
  


  <!-- Table Title/Add Block ------------------------------------------------->
  <div class="row justify-content-between align-items-center mb-2">

    <div class="col-4">
      <h3>Resistance Outcomes</h3>
    </div>

    {% if user.is_authenticated %}
      <div class="col-4 text-end">
        <a title="Edit Resistance Outcomes" class="btn btn-primary" role="button" href="{% url 'list_child_resistance_outcomes' reference_id=reference.id pk=factor.id %}"> Edit Resistance Outcomes &nbsp; <i class="fa-solid fa-pencil-alt"></i> </a> 
      </div>
    {% endif %}

  </div>


  <!-- Resistance Outcome Table ---------------------------------------------->
  <table id="resoutTable" class="table">

    <thead>
      <tr>
        <th>Resistance</th>
        <th>Microbe</th>
        <th>Outcome</th>
      </tr>
    </thead>

    <tbody>
      {% for res_out in resistance_outcomes %}
    
      <tr>

        <td>
            {% with  x=res_out.resistance|default:"" %}
                {{x|title}}
            {% endwith %}

            {{ res_out.resistance_gene|default_if_none:"" }} </br>
            
            {% include "cedar_core/prod_stage_icons.html" %} </br>

            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-sm" role="button"  href=" {% url 'edit_resout' reference_id=reference.id factor_id=factor.id pk=res_out.id  %} ">Edit</a>
            {% endif %}
        </td>
    
        <td>
            <span data-bs-toggle="tooltip" data-placement="top" data-bs-title="Microbe">{{ res_out.microbe_level_01 }}</span> <span data-bs-toggle="tooltip" data-placement="top" data-bs-title="Microbe Sub-type">{{ res_out.microbe_level_02 }}</span>  
        </td>
    
        <td>{% include "cedar_core/resistance_outcome_raw.html" %}</td>
      
      </tr>

      {% endfor %}
    </tbody>

  </table>

</div>

{% endblock %}






{% block body_scripts %}

  <script>
    $(document).ready(function () {
      $('#resoutTable').DataTable({
          "paging": false,
          "searching": false,
          "info": false,
          "scrollY": "100%",
          "scrollCollapse": true,
          order: [[0, 'asc']],
      });
    });
  </script>


  
{% endblock body_scripts %}