

{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load widget_tweaks %}

{% block head_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'cedar_core/detail_style.css' %}">
{% endblock head_css %}


{% block content %}
<div class="container-fluid maxWidth">
        
  <!-- The header. -->
  <div class="row justify-content-start align-items-center">
      
      <div class="col">
        <h1 class="mb-0">Reference: {{reference.id}}</h1>
        <h1 class="mt-0"><small class="text-muted">{{reference.key_bibtex}}</small></h1>
      </div>
      
      <div class="col d-flex justify-content-end text-nowrap">
          <a class="btn btn-secondary" role="button" href="{% url 'edit_reference_factor_list' ref_id=reference.id %}">Factor List</a>
      </div>
      
      <div class="col-auto d-flex justify-content-end">
          <a class="btn btn-secondary" role="button" href="https://dx.doi.org/{{reference.publish_doi}}">{{ reference.publish_doi }}</a>
      </div> 

  </div>

  <!-- The title (below header). -->
  <div class="row">

      <div class="col-12 mt-3">
          <h2>{{reference.ref_title}}.</h2>
          <hr class="mt-0 mb-0" style="border-width:3px;">
      </div>

  </div>

  <!-- The reference contents. -->
  <div class="row justify-content-center align-items-center mb-0">

      <div class="col mt-0 mb-0">
          <p class="mb-0"><i>{{ reference.ref_author }}</i> ({{ reference.ref_country }}) </p>
          <p>{{ reference.publisher }} ({{ reference.publish_year }})</p>
      </div>

  </div>

  <div class="row justify-content-center align-items-center">

    <div class="col">
      <!-- Begin Tabs -->
      <!-- Begin Tab Definitions -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Main</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Review</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Locale</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled</button>
        </li>
      </ul>
      <!-- End Tab Definitions -->

      <!-- Begin Tab Contents -->
      <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
          <!-- Begin Accordion (Tab 1 Content) -->
          <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                  Study Design Details (<small class="text-muted">{{reference.study_design}}</small>)
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  <p>{{ reference.study_design_detail }}</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  Sampling Methodology
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  <p>{{ reference.study_sample_method }}</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  AST and Reporting Characteristics
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                  <p>AST Method: {{ reference.ref_ast_method }}</p>
                  <p>Reference explicitly reports AST breakpoints: {{ reference.ref_has_ast_explicit_break }}</p>
                  <p>Reference reports using a MIC table: {{ reference.ref_has_ast_mic_table }}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Accordion (Tab 1 Content) -->
        </div>

        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">...</div>
        
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
          <table id="location_table" class="table table-bordered stripe" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Country</th>
                <th>Sub-Region</th>
                <th>Sub-Region Detail</th>
             
              </tr>
            </thead>
            <tbody>
              {% for loc in reference_locations %}
                <tr>
                  <td>{{ loc.location_main_id }}</td>
                  <td>{{ loc.location_sub_id }}</td>
                  <td>{{ loc.location_detail }}</td>
        
        
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
      </div>
      <!-- Begin Tab Contents -->
      <!-- End Tabs -->
      
    </div>

  </div>



  <!-- The factors -->
  <div class="row justify-content-center align-items-center mt-5">

      <div class="col">
          <h3>Factors</h3>
          <hr class="mt-0 mb-4" style="border-width:5px;">
      </div>

  </div>



  <table id="myTable" class="table table-bordered stripe" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Host</th>
          <th>Host</th>
          <th>Production Stage</th>
          <th class="col-3">Title</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for factor in reference_factors %}
          <tr>
            <td>{{ factor.id }}</td>
            <td>{{ factor.host_level_01 }}</td>
            <td>{{ factor.host_level_02 }}</td>
            <td>{{ factor.group_allocate_production_stage }}</td>
            <td><a href="{% url 'detail_factor' ref_id=reference.id factor_id=factor.id %}">{{ factor.factor_title }}</a></td>
            <td>{{ factor.factor_description }}</td>

          </tr>
        {% endfor %}
      </tbody>
  </table>







</div>
{% endblock content %}


{% block body_scripts %}

<script type="text/javascript">
    $(document).ready(function () {
      $('#myTable').DataTable({
        "scrollY": "100%",
        "scrollCollapse": true,
        order: [[1, 'asc']],
      });
      $('.dataTables_length').addClass('bs-select');
    });
  </script>

<script type="text/javascript">
  $(document).ready(function () {
    $('#location_table').DataTable({
      "scrollY": "100%",
      "scrollCollapse": true,
    });
    $('.dataTables_length').addClass('bs-select');
  });
</script>
  
{% endblock body_scripts %}