

{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load widget_tweaks %}

{% block head_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'cedar_core/detail_style.css' %}">
{% endblock head_css %}


{% block content %}
<div class="container-fluid maxWidth">

    {% include "cedar_core/detail_reference_header.html" %}
    {% include "cedar_core/breadcrumb.html" with whereami='detail_factor' %}

    <div class="row mt-4 justify-content-center">
        <div class="col-9">
            <h2 style="text-align: center;">{{  factor.factor_title  }}</h2>
            <p style="text-align: center;">{{ factor.host_level_01 }} | {{ factor.host_level_02 }} </p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col">
            <table id="factor_table" class="table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Comparator (Reference) Group</th>
                        <th>Factor Group</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ factor.factor_description }}</td>
                        <td>{{ factor.group_comparator }}</td>
                        <td>{{ factor.group_factor }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% for res_out in resistance_outcomes %}

       <p>{{ res_out.resistance }}</p> 
       <p>{{ res_out.contable_a }}</p>
       <p>{{ res_out.moa_type }}</p>
    {% endfor %}

    <div class="row">
        <div class="col">
            <table id="contingency_table" class="table">
                <thead>
                    <tr>
                        <th>/</th>
                        <th>AMR+</th>
                        <th>AMR-</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for res_out in resistance_outcomes %}
                    <tr>
                        <td>Factor Group</td>
                        <td>{{ res_out.contable_a }}</td>
                        <td>{{ res_out.contable_b }}</td>
                        <td>{{ res_out.table_n_ab }}</td>
                    </tr>
                    <tr>
                        <td>Comparator Group</td>
                        <td>{{ res_out.contable_c }}</td>
                        <td>{{ res_out.contable_d }}</td>
                        <td>{{ res_out.table_n_cd }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>



    </div>


</div>
{% endblock content %}