{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block head_css %}
  <!-- Your custom styles (optional) -->
{% endblock head_css %}

{% block content %}

  <div class="row justify-content-center">

    <div class="col-10">

      <h1 class="mt-2">{{ref.key_bibtex}}</h1>
      <hr style="border-width:5px;">
      <br>

      <!-- Actual factor table -->
      <h2 class="mt-2">All Factors</h2>

      <br>

      <!-- Add new factors button -->

      <a title="New Factor" href="{% url 'new_blank_factor' reference_id=ref.id %}" class="btn btn-success btn-lg" role="button">
        <i class="fas fa-plus-square"></i>
      </a>

      <br><br>

      <table id="factorTable" class="table table-bordered table-sm stripe" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Host</th>
            <th>Host Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for factor in ref_factors %}
            <tr>
              <td>{{ factor.factor_title }}</td>
              <td>{{ factor.factor_description }}</td>
              <td>{{ factor.host_level_01 }}</td>
              <td>{{ factor.host_level_02 }}</td>

              <td style='white-space: nowrap'>
                
                  <a title="Edit Factor Data" href="{% url 'edit_factor' reference_id=ref.id pk=factor.id %}" class="btn btn-info btn-xs" role="button">
                    <i class="fas fa-pencil-alt"></i>
                  </a>
                  <a title="Delete" href="{% url 'delete_factor' pk=factor.id %}" class="btn btn-danger btn-xs" role="button">
                    <i class="far fa-trash-alt"></i>
                  </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block body_scripts %}


  <!-- Table scrolling for each data table -->
  <script>
    $(document).ready(function () {
      $('#factorTable').DataTable({
        "scrollY": "200px",
        "scrollCollapse": true,
      });
      $('.dataTables_length').addClass('bs-select');
    });
  </script>

  <script>
    $(document).ready(function () {
      $('#facTable').DataTable({
        "paging": false,
        "searching": false,
        "info": false,
      });
    });
  </script>

{% endblock body_scripts %}