{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% load widget_tweaks %}

{% block head_css %}
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="{% static 'cedar_core/fac_detail_style.css' %}">
{% endblock head_css %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item"><a href="#">Library</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                </nav>

                <h1 class="mt-2">Edit Factor</h1>
                <hr style="border-width:5px;">
                <br>
                <button type="button" id="openro">
                    <a href="{% url 'list_child_resistance_outcomes' reference_id=ref.id pk=fac.id %}">Open Associations with Resistance List</a>
                </button>
                <br>
                <br>
                <form action="" method="post" id="facviewform" role="form">
                    {% csrf_token %}
                    {% crispy fac_form %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}