{% extends './base.html' %}

{% load crispy_forms_tags %}

{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="mt-2">Edit Factor</h1>
                <hr style="border-width:5px;">
                <br>
                <form action="" method="post" id="facviewform" role="form">
                    {% csrf_token %}
                    {% crispy fac_form %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block body_scripts %}

    <!-- Disable all inputs if in view mode -->

    {{ view_type|json_script:"get_view_type" }}

    <script>
        const view_type = JSON.parse(document.getElementById('get_view_type').textContent);

        if (view_type == 'view') {
            $(':input').prop('disabled', 'true');
        }
    </script>

{% endblock body_scripts %}