{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block head %}
  <script type="text/javascript" src=" {% static 'cedar_core/browse.js' %} "></script>
{% endblock head %}



{% block content %}

<div class="container-fluid maxWidth">

  <div class="row">

    <div class="col-12">

      {% include "cedar_core/breadcrumb.html" with whereami='detail_reference' %}

      <hr style="border-width:3px;">

      <h1>{{ reference.ref_title|default:"Reference Title"}}</h1>

      <br>

      <h2>Factors</h2>
      <hr style="border-width:1px;">


      
      <!-- Specify on-load table ordering through orderByColumnNumber. -->
      <div id="orderByColumnNumber" style="display: none;">0</div>

      <table id="factorTable" class="table table-bordered table-hover table-sm browse-table" cellspacing="0" width="100%">
        <thead class="table-dark">
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Host</th>
            <th>Host&nbsp;Type</th>
            <th>Outcomes</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for factor in children %}
            <tr>
              <td>{{ factor.factor_title }}</td>
              <td>{{ factor.factor_description }}</td>
              <td>{{ factor.host_level_01 }}</td>
              <td>{{ factor.host_level_02 }}</td>
              <td>{{ factor.res_outcome__count }}</td>

              <td style='white-space: nowrap'>
                
                  <a title="Edit Factor Data" href="{% url 'edit_factor' reference_id=reference.id pk=factor.id %}" class="btn btn-primary btn-xs" role="button">
                    <i class="fa-solid fa-pencil-alt"></i>
                  </a>

                  <a title="View Resistance Outcomes" href="{% url 'list_child_resistance_outcomes' reference_id=reference.id pk=factor.id %}" class="btn btn-secondary btn-xs" role="button">
                    <i class="fa-solid fa-list"></i>
                  </a>

                  <a title="Delete" href="{% url 'delete_factor' pk=factor.id %}" class="btn btn-danger btn-xs" role="button">
                    <i class="fa-regular fa-trash-alt"></i>
                  </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

  <div class="row">
    <div class="col" style="text-align:right">
      <button class="btn btn-primary no-wrap" disabled>Add New <i class="fa-solid fa-plus"></i></button>
    </div>
  </div>


</div>
{% endblock %}

