

{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid maxWidth">


    <div class="row justify-content-center">

        <div class="col-12">

            {% include "cedar_core/breadcrumb.html" with whereami='detail_factor' %}

            <hr style="border-width:3px;">
            
            <h1>{{factor.factor_title|default:"Factor Title" }}</h1>

            <p>{{factor.factor_description}}</p>

            <br>

            <h2 class="mb-4">Resistance Outcomes</h2>
            <hr style="border-width:1px;">

            <a title="Add New" href="{% url 'create_ro' reference_id=reference.id pk=factor.id %}" class="btn btn-primary btn-xs no-wrap" role="button">Add New <i class="fa-solid fa-plus"></i></a>
            <button class="btn btn-secondary" disabled>Add Multiple &nbsp;<i class="fa-solid fa-plus"></i></button>

            <table id="resistanceOutcomeTable" class="table table-bordered useDataTable" cellspacing="0" width="100%">
                
                <thead>
                    <tr>
                        <th>Microbe</th>
                        <th>AMR</th>
                        <th>Result Format</th>
                        <th>Unit</th>
                        <th>Stage Measured</th>
                        <th>Action</th>
                    </tr>
                </thead>
                
                <tbody>

                    {% for ro in resistance_outcomes %}
                    <tr>
                        <td>{{ ro.microbe_level_01 }} {{ ro.microbe_level_02|default_if_none:"" }}</td>
                        <td>{{ ro.resistance }}</td>
                        <td>{{ ro.moa_type }}</td>
                        <td>{{ ro.moa_unit }}</td>
                        <td>{{ ro.group_observe_production_stage }}</td>
                        <td style='white-space: nowrap'>

                            <a title="Edit Resistance Outcome" href="{% url 'edit_resout' reference_id=reference.id factor_id=factor.id pk=ro.id %}" class="btn btn-primary btn-xs" role="button">
                              <i class="fas fa-pencil-alt"></i>
                            </a>

                            <a title="Delete Resistance Outcome" href="{% url 'resout-delete' reference_id=reference.id factor_id=factor.id pk=ro.id %}" class="btn btn-danger btn-xs confirm-delete" role="button" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                              <i class="fas fa-trash-alt"></i>
                            </a>
                          
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>

            {% include "cedar_core/delete_modal.html" %}

        </div>
    
    </div>

</div>
{% endblock %}

{% block body_scripts %}


  <!-- Table scrolling for each data table -->
  <script>
    $(document).ready(function () {
      $('#roTable').DataTable({
        "scrollY": "200px",
        "scrollCollapse": true,
      });
      $('.dataTables_length').addClass('bs-select');
    });
  </script>

  <script>
    $(document).ready(function () {
      $('.useDataTable').DataTable({
        "paging": false,
        "searching": false,
        "info": false,
      });
    });
  </script>

{% endblock body_scripts %}