

{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block head_css %}
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="{% static 'cedar_core/view_facs_style.css' %}">
{% endblock head_css %}

{% block content %}
<div class="container-fluid maxWidth">

    <div class="row justify-content-center">

        <div class="col">

            <h1>{{factor.factor_title}}</h1>
            
            <hr style="border-width:5px;">
            
            <!-- Actual factor table -->
            <h2 class="mb-4">Resistance Outcomes</h2>

            {% comment %}
            <!-- <a title="New Association with Resistance" href="{% url 'add_new_obj' obj_id=factor.id form_type='ro' %}" class="btn btn-success btn-lg" role="button">
              <i class="fas fa-plus-square"></i>
            </a> -->
            {% endcomment %}


            <table id="resistanceOutcomeTable" class="table table-bordered useDataTable" cellspacing="0" width="100%">
                
                <thead>
                    <tr>
                        <th>Microbe</th>
                        <th>AMR</th>
                        <th>Result Format</th>
                        <th>Unit</th>
                        <th>Stage Measured</th>
                        <th>Action</th>
                    </tr>
                </thead>
                
                <tbody>

                    {% for ro in resistance_outcomes %}
                    <tr>
                        <td>{{ ro.microbe_level_01 }} {{ ro.microbe_level_02|default_if_none:"" }}</td>
                        <td>{{ ro.resistance }}</td>
                        <td>{{ ro.moa_type }}</td>
                        <td>{{ ro.moa_unit }}</td>
                        <td>{{ ro.group_observe_production_stage }}</td>
                        <td style='white-space: nowrap'>
                            <a title="Edit this Resistance Outcome" href="{% url 'detail_resistance_outcome' reference_id=reference.id factor_id=factor.id pk=ro.id %}" class="btn btn-info btn-xs" role="button">
                              <i class="fas fa-pencil-alt"></i>
                            </a>

                            <!-- TO DO: Make a delete button and view for deleting a resistance outcome, modelled after delete_factor in view_factors.html -->
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>

            </table>

        </div>
    
    </div>

</div>
{% endblock %}

{% block body_scripts %}


  <!-- Table scrolling for each data table -->
  <script>
    $(document).ready(function () {
      $('#roTable').DataTable({
        "scrollY": "200px",
        "scrollCollapse": true,
      });
      $('.dataTables_length').addClass('bs-select');
    });
  </script>

  <script>
    $(document).ready(function () {
      $('.useDataTable').DataTable({
        "paging": false,
        "searching": false,
        "info": false,
      });
    });
  </script>

{% endblock body_scripts %}