

{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load widget_tweaks %}

{% block head_css %}

{% endblock head_css %}


{% block content %}

<div class="container-fluid maxWidth">



    <form method="post">

        {% csrf_token %}
    
        <div class="form-row">
    
          <div class="form-group col-md-6 mb-0">
            {{ form.factor|as_crispy_field }}
          </div>
          <div class="form-group col-md-6 mb-0">
            {{ form.resistance|as_crispy_field }}
            {{ form.moa_type|as_crispy_field }}
            {{ form.microbe_level_01|as_crispy_field }}
            
          </div>
        </div>
       
    
        <table id="contingency_table" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>AMR+ (n)</th>
                    <th>AMR- (n)</th>
                    <th data-bs-toggle="tooltip" data-placement="top" data-bs-title="">Total (n)</th>
                </tr>
            </thead>
            <tbody>
              
                <tr>
                    <td></td>
                    <td>{{ form.contable_a }}</td>
                    <td>{{ form.contable_b }}</td>
                    <td rowspan="2 style="align-items-center">{{ form.table_n_ab }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ form.prevtable_a }}</td>
                    <td>{{ form.prevtable_b }}</td>
                </tr>


                <tr>
                    <td></td>
                    <td>{{ form.contable_c }}</td>
                    <td>{{ form.contable_d }}</td>
                    <td rowspan="2">{{ form.table_n_cd }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ form.prevtable_c }}</td>
                    <td>{{ form.prevtable_d }}</td>
                </tr>



              
            </tbody>
        </table>
    
    
    
    
    
    
    
    
        <button type="submit" class="btn btn-primary">Sign in</button>
    
    
    
    
    
    
    </form>
    
    
    



</div>








{% endblock content %}