{% extends 'base.html' %}

{% load static %}

{% block head_css %}
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="{% static 'cedar_core/view_refs_style.css' %}">
{% endblock head_css %}

{% block content %}

  <!-- table of references -->
  <div class="row justify-content-center"> <!-- container-lg -->
    <div class="col-10">

      <h1 class="mt-2">Browse References</h1>
      <hr style="border-width:5px;">
      <br>

      <table id="myTable" class="table table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>RWID</th>
            <th>Bibtex Key</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          {% for reference in refs_list %}
            <tr>
              <td>{{ reference.refwk }}</td>
              <td>{{ reference.key_bibtex }}</td>
              <td>
                <!-- <a href="/cedar_core/references/{{ reference.id }}/">{{ reference.study_title }}</a> -->
                <a href="{% url 'ref_detail' ref_id=reference.id %}">{{ reference.study_title }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}

{% block body_scripts %}
  <!-- Table scrolling -->
  <script type="text/javascript">
    $(document).ready(function () {
      $('#myTable').DataTable({
        "scrollY": "200px",
        "scrollCollapse": true,
      });
      $('.dataTables_length').addClass('bs-select');
    });
  </script>
{% endblock body_scripts %}