{% extends './base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block head_css %}
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="{% static 'cedar_core/view_facs_style.css' %}">
{% endblock head_css %}

{% block content %}

  <div class="row justify-content-center">

    <div class="col-10">

      <h1 class="mt-2">{{ref.key_bibtex}}</h1>
      <hr style="border-width:5px;">
      <br>

      <!-- Display factor data detail, if a factor has been selected -->
      {% if exp_form %}
        <div class="container-sm">
          <form action="" method="post" id="expform" enctype="multipart/form-data" role="form">
            {% csrf_token %}
            {% crispy exp_form %}
          </form>
        </div>
      {% else %}
        <table id="facTable" class="table table-sm" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th style="border: none;"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center; height: 50px; border: none;">
                <h4>Click on a factor's title to view or edit its core data here</h4>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      {% endif %}

      <!-- Actual factor table -->
      <h2 class="mt-2">All Factors</h2>
      <table id="factorTable" class="table table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Host</th>
            <th>Microbe</th>
            <th>AMR</th>
            <th>Result Format</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for factor in ref_factors %}
            <tr>
              <td>
                <a href="{% url 'expand_factor' ref_id=ref.id fac_id=factor.id view_type=view_type %}" id="expFac">{{ factor.factor_title }}</a>
              </td>
              <td>{{ factor.factor_description }}</td>
              <td>{{ factor.host_01_id }}</td>
              <td>{{ factor.microbe_01_id }}</td>
              <td>{{ factor.resistance_id }}</td>
              <td>{{ factor.moa_type_id }}</td>
              <td style='white-space: nowrap'>
                <!-- <div class="container"> -->
                  <!-- "/cedar_core/references/{{ ref.id }}/factors/{{ factor.id }}/edit" -->
                  <a title="Edit All Factor Data" href="{% url 'factor_detail' ref_id=ref.id fac_id=factor.id view_type=view_type %}" class="btn btn-info btn-xs" role="button">
                    <i class="fas fa-pencil-alt"></i>
                  </a>
                  <!-- "/cedar_core/references/{{ ref.id }}/factors/{{ factor.id }}/delete" -->
                  <a title="Delete" href="{% url 'delete_factor' ref_id=ref.id fac_id=factor.id view_type=view_type %}" class="btn btn-danger btn-xs" role="button">
                    <i class="far fa-trash-alt"></i>

                  <!-- Disabled form of the delete factor button. TO DO: toggle between this and above based on view_type -->
                  <!-- <a title="Delete" href="{% url 'delete_factor' ref_id=ref.id fac_id=factor.id view_type=view_type %}" class="btn btn-danger btn-xs disabled" role="button" aria-disabled="true">
                    <i class="far fa-trash-alt"></i> -->

                <!-- </div> -->
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block body_scripts %}


  <!-- Table scrolling for each data table -->
  <script>
    $(document).ready(function () {
      $('#factorTable').DataTable({
        "scrollY": "200px",
        "scrollCollapse": true,
      });
      $('.dataTables_length').addClass('bs-select');
    });
  </script>

  <script>
    $(document).ready(function () {
      $('#facTable').DataTable({
        "paging": false,
        "searching": false,
        "info": false,
      });
    });
  </script>

  <script>
    $(document).ready(function () {
      $('#facData').DataTable({
        "paging": false,
        "searching": false,
        "info": false,
      });
    });
  </script>

  <script>
    $(document).ready(function () {
        $('#amrData').DataTable({
            "paging": false,
            "searching": false,
            "info": false,
        });
    });
  </script>

  <!-- Disable most all inputs if in view mode -->

  {{ view_type|json_script:"get_view_type" }}

  <script>
    const view_type = JSON.parse(document.getElementById('get_view_type').textContent);
  
    if (view_type == 'view') {
      $(':input').prop('disabled', 'true');
      //$(':a').prop('disabled', 'true');
      //document.getElementById("delFactor").disabled = true;
      //$('#delFactor').prop('disabled', 'true');
      //$('.delete-factor button').hide();
      //var x = document.getElementsByClassName("btn btn-danger btn-xs");
      //var i;
      //for (i = 0; i < x.length; i++) {
        //x[i].disabled = true;
      //}
    }
  </script>

{% endblock body_scripts %}